@use '/src/styles.scss' as *;
@use '/src/app/app.component.scss' as *;
// All mixins and functions are located in the app.component.scss file
// All global variables are located in the styles.scss file

.btn {
  @include roundedCornersNrem(1rem);
  color: $fontColor;
  background-color: $backgroundColor;
  border: 2px solid $accentColor;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    border: 2px solid $accentColorDark;
    color: #999;
  }

  &:active {
    transform: translateY(.05rem) scale(0.995);
  }
}

.checkMark {
  height: 1.5rem;
  width: 1.5rem;
  fill: $fontColor;
  cursor: pointer;
  margin-left: 0.5rem;
}

main {
  @include flexAndCentered(column);
  max-width: max-content;
  margin: 1rem;

  header {
    @include flexAndCentered(column);
    text-align: center;
  }

  header > button {
    width: 100%;
  }

  section {
    @include flexAndCentered(column);
    width: 100%;
  }

  .todoContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .todoContainer div {
    @include flexAndCentered(row);
  }

  form {
    width: 100%;
  }

  .submitBtn {
    width: 60%;
  }

  .formElement {
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    text-align: start;
    width: 80%;
    margin-inline: auto;
  }

  label[for="formMessage"] {
    padding-bottom: 0.5rem;
    width: 100%;
  }

  #formMessage {
    @include roundedCornersNrem(0.25rem);
    background-color: $backgroundColor;
    border: 2px solid $fontColor;
    color: $fontColor;
    font-weight: 300;
    padding: 0.25rem;
  }
}
